services:
  app:
    build: .
    container_name: wb-app
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - ADDRESS=0.0.0.0:8080
      - DB_HOST=postgres
      - REDIS_HOST=redis
      - DB_PORT
      - DB_USER
      - DB_PASSWORD
      - DB_NAME
      - REDIS_PORT
      - REDIS_PASSWORD
      - REDIS_DB
    ports:
      - "8080:8080"
    networks:
      - wb-network

  postgres:
    image: postgres:18-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - wb-network

  redis:
    image: redis:7.2-alpine
    container_name: redis
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli -p ${REDIS_PORT} -a ${REDIS_PASSWORD} ping"]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - wb-network

volumes:
  postgres_data:
  redis_data:

networks:
  wb-network:
    driver: bridge